.HM-bg {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    min-height: 100vh;
}
.HM-bg-note{
    background-color: #00308F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.HM-headName{
    border: 5px solid #00308f;
    color: black;
    background-color: white;
    text-transform: capitalize;
}
.HM-Date{
    color: gray;
}