.LG-bg {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(2, 95, 180, 1) 100%);
    min-height    : 100vh;
}

.LG-form {
    width                : 25%;
    background-color     : #302c2d;
    padding              : 1%;
    border-radius        : 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius   : 10%;
    -ms-border-radius    : 10%;
    -o-border-radius     : 10%;


}


@media only screen and (max-width: 600px) {
    .LG-form {
        width  : 100%;
        padding: 5%;

    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .LG-form {
        width  : 100%;
        padding: 5%;

    }
}