.ND-bg {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ND-body {
    width: 50%;
    margin: auto;
    /* border: 5px solid blue; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: gold;
    
}

.ND-title {
    border-bottom: 3px solid white;
    padding      : 15px;
    background-color: #80D0C7;
}

.ND-desc {
    text-align: left;
    padding   : 15px;
    font-size: 20px;
}
@media only screen and (max-width: 1000px) {
    .ND-body{
        width: 100%;
    }
}